body {
  font-family: "roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.body.modal-open {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1
h2
h3
h4
h5
h6
p
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  width: 100%;
}

/* @media (min-width: 768px) {
    .page-header {
        padding: 0;
    }
} */
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .page-header__nav {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.page-header__logo {
  padding: 16px 0;
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media (min-width: 768px) {
  .page-header__logo {
    padding: 25px 0;
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .page-header__logo {
    font-size: 26px;
    line-height: 1.38;
    margin-right: 93px;
  }
}

.page-header__logo-web {
  color: #2196f3;
}

.page-header__logo-studio {
  color: #212121;
}

.page-footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

@media (min-width: 1200px) {
  .page-footer__logo {
    font-size: 26px;
    line-height: 1.38;
  }
}

.page-footer__logo--web {
  color: #2196f3;
}

.page-footer__logo--studio {
  color: #ffffff;
}

@media (min-width: 768px) {
  .menu-mob__container {
    display: none;
  }
}

.menu-mob__burger {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob__burger:hover, .menu-mob__burger:focus {
  fill: #2196f3;
}

@media (min-width: 768px) {
  .menu-mob__burger {
    display: none;
  }
}

.menu-mob__burger--close {
  position: absolute;
  top: 21px;
  right: 25px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob__burger--close:hover, .menu-mob__burger--close:focus {
  fill: #2196f3;
}

.menu-mob__item-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob__item-link:hover, .menu-mob__item-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 35px;
}

.menu-mob__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background: #ffffff;
  z-index: 99;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-mob__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-mob__contact {
  margin-top: auto;
}

.menu-mob__contact-item {
  margin-bottom: 32px;
}

.contact-item__call {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.contact-item__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.menu-mob__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.menu-mob__social-link {
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: #2196f3;
  text-decoration: none;
}

.menu-mob__social-link:not(:last-child) {
  margin-right: 10px;
}

.menu-mob__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.current {
  color: #2196f3;
}

@media (max-width: 767px) {
  .page-header__menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .page-header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 61px;
}

@media (min-width: 767px) {
  .menu__contact-mailto {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .menu__contact-mailto {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.menu__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu .menu__link:hover, .page-header__menu .menu__link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__menu .menu__link.current {
  color: #2196f3;
  position: relative;
}

.page-header__menu .menu__link.current::after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -33px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.menu__contacts {
  margin-left: auto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media (max-width: 768px) {
  .menu__contacts {
    display: none;
  }
}

@media (min-width: 1200px) {
  .menu__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    font-size: 14px;
  }
}

.menu__contact-mailto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contact-mailto:hover, .menu__contact-mailto:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contact-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contact-call:hover, .menu__contact-call:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__contact-icon {
  margin-right: 10px;
  fill: currentcolor;
}

.hero {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/mob-header1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/mob-header1x.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/mob-header2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/mob-header2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/tab-header1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/tab-header1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/tablet/tab-header2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/tab-header2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/header1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header1x.jpg);
    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/desktop/header2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/header2x.jpg);
  }
}

.hero__wrapper {
  width: 100%;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #188CE8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  position: fixed;
  overflow-y: scroll;
  z-index: 999;
}

.hero__backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.hero__backdrop.is-hidden .modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 589px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  width: 100%;
  margin-bottom: 30px;
}

.modal__form--field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__form--field:hover .modal__form--icon,
.modal__form--field:focus-within .modal__form--icon {
  fill: #2196f3;
}

.modal__form--field:focus-within .modal__form--input {
  border: 1px solid #2196f3;
}

.modal__form--label {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form--input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--input:focus, .modal__form--input:hover {
  outline: none;
  border: 1px solid #2196f3;
}

.modal__form--icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--comment:hover, .modal__form--comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal__form--comment::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.modal__conditions--link {
  color: #2196f3;
  font-family: inherit;
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__checkbox--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
}

.modal__checkbox:checked + .modal__checkbox--icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal__icon--cross {
  width: 11px;
  height: 11px;
}

.modal__icon--cross:hover, .modal__icon--cross:focus {
  fill: #2196f3;
}

.feature {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .feature {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .feature__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature__description .feature__item {
  margin-top: 30px;
}

.feature__description .feature__item:first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .feature__description .feature__item:first-child {
    margin-top: 15px;
  }
}

@media screen and (min-width: 768px) {
  .feature__description .feature__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__description .feature__item {
    width: 270px;
  }
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 25px 0;
  background-color: #F5F4FA;
}

.feature__title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.03em;
}

.work {
  padding-bottom: 94px;
}

@media (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.work__list {
  position: relative;
}

.work__thumb {
  position: absolute;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #F5F4FA;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__block {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
}

.team__item {
  margin-top: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .team__item {
    width: calc((100% - 4 * 30px) / 4);
    margin-top: 0;
  }
}

.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .team__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team__icon {
  list-style: none;
  margin-right: 10px;
}

.team__icon:last-child {
  margin-right: 0;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:last-child {
  margin-right: 0;
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.customer {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .customer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customer__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .customer__title {
    font-size: 36px;
  }
}

.customer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

@media (min-width: 1200px) {
  .customer__company {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__logo {
  width: 210px;
  height: 92px;
}

@media (max-width: 767px) {
  .customer__logo {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
}

@media (min-width: 768px) {
  .customer__logo {
    width: calc(100% / 3 - 30px);
    margin: 15px;
    width: 226px;
  }
}

@media (min-width: 1200px) {
  .customer__logo {
    width: 170px;
  }
}

.gallary__list {
  margin-top: 40px;
}

footer {
  background: #2F303A;
  padding: 60px 0;
}

.page-footer {
  text-align: center;
}

@media (min-width: 1200px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    text-align: start;
  }
}

@media (min-width: 768px) {
  .page-footer-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .page-footer-tab {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.page-footer__address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.page-footer__contact {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page-footer__contact .page-footer__contact-item {
  margin-top: 8px;
  list-style: none;
}

@media (min-width: 1200px) {
  .page-footer__contact .page-footer__contact-item {
    margin-top: 9px;
  }
}

.page-footer__contact .page-footer__contact-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__contact .page-footer__contact-link:hover, .page-footer__contact .page-footer__contact-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__join {
  margin-top: 60px;
}

@media (min-width: 768px) {
  .page-footer__join {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .page-footer__join {
    margin-top: 0;
    margin-left: 70px;
  }
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer__social-item {
  list-style: none;
  margin-right: 10px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__social-link:hover, .page-footer__social-link:focus {
  background: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__signature {
  margin-top: 60px;
}

@media (min-width: 1200px) {
  .page-footer__signature {
    margin-top: 0;
    margin-left: 93px;
  }
}

@media (min-width: 1200px) {
  .page-footer__signature-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-footer__signature-email {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
}

@media (min-width: 768px) {
  .page-footer__signature-email {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .page-footer__signature-email {
    width: 358px;
    margin-right: 10px;
  }
}

.page-footer__button {
  position: relative;
  padding: 10px 62px 10px 29px;
  margin-top: 20px;
}

@media (min-width: 1200px) {
  .page-footer__button {
    margin-top: 0;
  }
}

.page-footer__icon-send {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ffffff;
}

.filter__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

@media (max-width: 246px) {
  .filter__group {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  list-style: none;
  text-decoration: none;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__item:nth-last-child(-n + 2) {
  margin-top: 15px;
}

@media (max-width: 399px) {
  .filter__item:nth-last-child(-n + 3) {
    margin-top: 15px;
  }
}

@media (max-width: 246px) {
  .filter__item:nth-last-child(-n + 4) {
    margin-top: 15px;
  }
}

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */