body {
  font-family: "roboto", sans-serif;
  color: #212121;
  background-color: #ffffff;
}

.body.modal-open {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

h1
h2
h3
h4
h5
h6
p
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.list-style {
  list-style-type: none;
}

.container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  /*     @media screen and (min-width: 480px) {
        .container {
            width: 480px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        .container {
            width: 768px;
        }
    }

    @media screen and (min-width: 1200px) {
        .container {
            width: 1200px;
        }
    } */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.page-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.page-header__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.page-header__logo--web {
  color: #2196f3;
}

.page-header__logo--studio {
  color: #212121;
}

.page-footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.page-footer__logo .page-footer__logo--web {
  color: #2196f3;
}

.page-footer__logo .page-footer__logo--studio {
  color: #ffffff;
}

.page-header__menu-mob {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 796px;
  padding: 48px 0 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  overflow-y: scroll;
  z-index: 999;
}

.page-header__menu-mob.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 768px) {
  .page-header__menu-mob {
    display: none;
  }
}

.page-header__menu-list {
  list-style: none;
}

.page-header__menu-item {
  margin-top: 32px;
}

.page-header__menu-item:first-child {
  margin-top: 0;
}

.page-header__menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.page-header__menu-burger {
  border: none;
  background-color: white;
}

@media (min-width: 768px) {
  .page-header__menu-burger {
    display: none;
  }
}

.page-header__icon-cross {
  width: 18px;
  height: 18px;
}

.page-header__menu-burger .page-header__icon-cross {
  display: none;
}

.page-header__menu-burger.is-open .page-header__icon-cross {
  display: block;
}

.page-header__menu-burger.is-open .page-header__icon-menu {
  display: none;
}

.current {
  color: #2196f3;
}

.page-header__menu-nav-contact {
  margin-top: 300px;
}

.page-header__contact-item {
  margin-top: 32px;
}

.page-header__contact--call {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.page-header__contact--mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.page-header__menu-social {
  margin-top: 64px;
}

.page-header__social-item {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.page-header__social-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.page-header__social-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.page-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

@media (max-width: 767px) {
  .page-header__menu {
    display: none;
  }
}

/* .page-header__menu .list-style {
    margin-right: 50px;
}

.page-header__menu .list-style:last-child {
    margin-right: 0;
}

.page-header__menu .page-header__menu-link {
    display: flex;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: $main-transition;
}

.page-header__menu .page-header__menu-link:hover, .page-header__menu .page-header__menu-link:focus {
    color: $accent-color;
    transition: $main-transition;
}

.page-header__menu .page-header__menu-link.current {
    color: $accent-color;
    position: relative;
}

.page-header__menu .page-header__menu-link.current::after {
    content: "";
    position: absolute;
    bottom: -33.6px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
} */
.page-header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media (max-width: 767px) {
  .page-header__contact {
    display: none;
  }
}

/* .page-header__contact .list-style {
    margin-right: 50px;
}

.page-header__contact .list-style:last-child {
    margin-right: 0;
}

.page-header__contact--mailto {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #757575;
    transition: $main-transition;
}

.page-header__contact--mailto:hover, .page-header__contact--mailto:focus {
    color: $accent-color;
    transition: $main-transition;
}

.page-header__contact--call {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #757575;
    transition: $main-transition;
}

.page-header__contact--call:hover, .page-header__contact--call:focus {
    color: $accent-color;
    transition: $main-transition;
}

.page-header__contact-icon {
    margin-right: 10px;
    fill: currentColor;
} */
.hero {
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mobile/mob-header1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/mob-header1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.hero__button {
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #188CE8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  position: fixed;
  overflow-y: scroll;
}

.hero__backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.hero__backdrop.is-hidden .modal {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 589px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  width: 100%;
  margin-bottom: 30px;
}

.modal__form--field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal__form--field:hover .modal__form--icon,
.modal__form--field:focus-within .modal__form--icon {
  fill: #2196f3;
}

.modal__form--field:focus-within .modal__form--input {
  border: 1px solid #2196f3;
}

.modal__form--label {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form--input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--input:focus, .modal__form--input:hover {
  outline: none;
  border: 1px solid #2196f3;
}

.modal__form--icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form--comment:hover, .modal__form--comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal__form--comment::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--conditions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
}

.modal__conditions--link {
  color: #2196f3;
  font-family: inherit;
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__checkbox--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  background-color: #ffffff;
}

.modal__checkbox:checked + .modal__checkbox--icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal__icon--cross {
  width: 11px;
  height: 11px;
}

.modal__icon--cross:hover, .modal__icon--cross:focus {
  fill: #2196f3;
}

.feature {
  padding: 60px 0;
}

.feature__description .list-style {
  margin-top: 30px;
}

.feature__description .list-style:first-child {
  margin-top: 0;
}

.feature__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  padding: 25px 0;
  background-color: #F5F4FA;
}

.feature__title {
  margin-top: 30px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
  letter-spacing: 0.03em;
}

.team {
  background: #F5F4FA;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__item {
  margin-top: 30px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position {
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team__icon {
  list-style: none;
  margin-right: 10px;
}

.team__icon:last-child {
  margin-right: 0;
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:last-child {
  margin-right: 0;
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.customer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.customer__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.customer__company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  margin-top: 30px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* &:nth-child(2n) {
            margin-right: 0;
        } */
}

.customer__link:hover, .customer__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__list {
  margin-top: 46px;
}

.gallary__card {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__card:last-child {
  margin-bottom: 60px;
}

.gallary__card:hover, .gallary__card:focus {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__link {
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__thumb {
  position: relative;
  width: 450px;
  overflow: hidden;
}

.gallary__name {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background: #FFFFFF;
}

.gallary__project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.gallary__kind {
  margin-top: 4px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallary__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.gallary__card:hover .gallary__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.gallary__text {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  top: 0;
  left: 0;
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.gallary__card:hover .gallary__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

footer {
  background: #2F303A;
  padding: 60px 0;
}

.page-footer {
  text-align: center;
}

.page-footer__address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.page-footer__contact {
  margin-top: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page-footer__contact .page-footer__contact-item {
  margin-top: 8px;
  list-style: none;
}

.page-footer__contact .page-footer__contact-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__contact .page-footer__contact-link:hover, .page-footer__contact .page-footer__contact-link:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__join {
  margin-top: 60px;
}

.page-footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-footer__social-item {
  list-style: none;
  margin-right: 10px;
}

.page-footer__social-item:last-child {
  margin-right: 0;
}

.page-footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__social-link:hover, .page-footer__social-link:focus {
  background: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer__signature {
  margin-top: 60px;
}

.page-footer__signature-email {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
}

.page-footer__button {
  position: relative;
  padding: 10px 62px 10px 29px;
  margin-top: 20px;
}

.page-footer__icon-send {
  position: absolute;
  top: 50%;
  margin-left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #ffffff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter__group > .filter__item {
  list-style: none;
  text-decoration: none;
}

.filter__item {
  margin-right: 8px;
  margin-top: 15px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__item:nth-child(-n+3) {
  margin-top: 60px;
}

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */