:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --hero-text-color: #ffffff;
  --contact-text-footer: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --background-color: #2F303A;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

h1
h2
h3
h4 
h5
h6
p 
ul {
  text-decoration: none;
}

.list-style {
  list-style-type: none;
}

/* === header === */

.container {
  width: 1200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header__navigation {
  display: flex;
}

.header__logo {
  display: flex;
  align-items: center;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header__logo--web {
  color: var(--accent-color);
}

.header__logo--studio {
  color: var(--primary-text-color);
  margin-right: 93px;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__menu .list-style {
  margin-right: 50px;
}

.header__menu .list-style:last-child {
  margin-right: 0;
}

.header__menu .header__menu--link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: var(--main-transition);
}

.header__menu--link:hover,
.header__menu--link:focus {
  color: var(--accent-color);
  transition: var(--main-transition);
}

.header__menu--link.current {
  color: var(--accent-color);
  position: relative;
}

.header__menu--link.current::after {
  content: "";
  position: absolute;
  bottom: -33.6px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__contact {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header__contact .list-style{
   margin-right: 50px;
}
 
.header__contact .list-style:last-child {
  margin-right: 0;
}

.header__contact--mailto {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: var(--main-transition);
}

.header__contact--mailto:hover,
.header__contact--mailto:focus {
  color: var(--accent-color);
  transition: var(--main-transition);
}

.header__contact--call {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: var(--main-transition);
}

.header__contact--call:hover,
.header__contact--call:focus {
  color: var(--accent-color);
  transition: var(--main-transition);
}

.header__contact--icon {
  margin-right: 10px;
  fill: currentColor;
}

.header__contact--mailto:hover,
.header__contact--mailto:focus,
.header__contact--call:hover,
.header__contact--call:focus {
  fill: var(--accent-color);
  transition: var(--main-transition);
}

/* === body index.html === */

button {
  cursor: pointer;
}

.hero{
  display: block;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  text-align: center;
}

.hero__button{
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 10px 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--hero-text-color);
  border: none;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--main-transition);
}

.hero__button:hover,
.hero__button:focus{
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: var(--main-transition);
}

/* === modal === */

.hero__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--main-transition);
  z-index: 2;
}

.hero__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero__backdrop.is-hidden .modal {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
  transition: transform var(--main-transition);
} 

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--hero-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--main-transition);
}

.modal__icon--cross{
  width: 11px;
  height: 11px;
}

.modal__icon--cross:hover,
.modal__icon--cross:focus {
  fill: var(--accent-color);
}

.modal__title {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__form {
  width: 100%;
  margin-bottom: 30px;
}

.modal__form--field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__form--field:nth-child(4) {
  margin-bottom: 20px;
}

.modal__form--field:hover .modal__form--icon,
.modal__form--field:focus-within .modal__form--icon {
  fill: var(--accent-color);
}

.modal__form--field:focus-within .modal__form--input {
  border: 1px solid var(--accent-color);
}

.modal__form--label {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__form--input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border var(--main-transition), outline var(--main-transition);
}

.modal__form--input:focus,
.modal__form--input:hover {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal__form--icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  fill: var(--primary-text-color);
  transition: fill var(--main-transition);
}

.modal__form--comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--primary-text-color);
  transition: var(--main-transition);
}

.modal__form--comment:hover,
.modal__form--comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal__form--comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--conditions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.form__conditions--link {
  color: var(--accent-color);
  font-family: inherit;
}

.modal__checkbox {
  appearance: none;
}

.modal__checkbox--icon{
  display: flex;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  background-color: #fff;
}

.modal__checkbox:checked + .modal__checkbox--icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

/* === feature === */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__description{
  margin: auto;
  margin: 0%;
  display: flex;
  justify-content: space-between;
}

.feature__description .list-style {
margin-right: 30px;
width: 270px;
}

.feature__description .list-style:last-child {
  margin-right: 0;
}

.feature__icon{
  display: flex;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
}

.feature__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__text{
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

/* === what we do === */

.work{
  padding-bottom: 94px;
}

.work__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.work__description {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.work__list {
  position: relative;
}

.work__thumb {
    position: absolute;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}

.work__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    margin: 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-text-color);
}

/* === ouer team === */

.team{
  background: #F5F4FA;
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__item {
  margin-right: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__title{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__block{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__position{
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team__icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.team__icon {
  list-style: none;
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  fill: #AFB1B8;
  background-color: var(--hero-text-color);
  transition: var(--main-transition);
}

.team__link:last-child{
  margin-right: 0;
}

.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color);
  fill: var(--hero-text-color);
}

/* === customer === */

.customer{
  padding-top: 94px;
  padding-bottom: 94px;
}

.customer__title{
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.customer__company{
  display: flex;
  margin-top: 50px;
}

.customer__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  margin-right: 30px;
  border: 1px solid #AFB1B8;
  box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
  transition: var(--main-transition);
}

.costomer__link:last-child {
  margin-right: 0;
}

.customer__link:hover,
.customer__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
  transition: var(--main-transition);
}

/* === main portfolio.html === */

.gallary {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* invisible title */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter__group {
  display: flex;
  justify-content: center;
}

.filter__group > .filter__item {
  list-style: none;
  text-decoration: none;
}

.filter__item {
margin-right: 8px;
}

.filter__item:last-child {
  margin-right: 0;
}

.filter__button{
  display: flex;
  justify-content: center;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border: none;
  background: #F5F4FA;
  border-radius: 4px;
  transition: var(--main-transition);
}

.filter__button:hover,
.filter__button:focus {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: var(--main-transition);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallary__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallary__card {
  margin-bottom: 30px;  
  border: 1px solid #EEEEEE;
  box-sizing: border-box; 
  transition: var(--main-transition);
}

.gallary__card:nth-child(3n) {
  margin-right: 0;
}  

.gallary__card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallary__card:hover,
.gallary__card:focus {
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--main-transition);
}

.gallary__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

/* === OVERLAY === */

.gallary__thumb {
position: relative;
width: 370px;
overflow: hidden;
}

.gallary__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--main-transition);
  opacity: 0;
}

.gallary__card:hover .gallary__overlay {
  transform: translateY(0);
  opacity: 1;
}

.gallary__text {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-50%, -50%);
    top: 0;
    left: 0;
    margin: 0;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
    transition: var(--main-transition);
    opacity: 0;
  }

.gallary__card:hover .gallary__text {
  transform: translateY(0);
  opacity: 1;
} 

.gallary__name {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background: #FFFFFF;
}

.gallary__project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.gallary__kind {
  margin-top: 4px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* === footer === */

footer {
  background: var(--background-color);
  width: 100%;
  padding: 60px 0;
}

.footer {
  display: flex;
}

.footer__logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__logo--web {
  color: var(--accent-color);
}

.footer__logo--studio {
  color: var(--hero-text-color);
}

.footer__address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}

.footer__contact {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__contact--item {
  margin-top: 9px;
  list-style: none;
}

.footer__contact--link {
  text-decoration: none;
  color: var(--contact-text-footer);
  transition: var(--main-transition);
}

.footer__contact--link:hover,
.footer__contact--link:focus {
  color: var(--accent-color);
  transition: var(--main-transition);
}

.footer__join {
  margin-left: 70px;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
}

.footer__social {
  display: flex;
  justify-content: space-between;
}
  
.footer__social--item {
list-style: none;
margin-right: 10px; 
}

.footer__social--item:last-child {
  margin-right: 0;
}

.footer__social--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--hero-text-color);
  background: rgba(255, 255, 255, 0.1);
  transition: var(--main-transition);
}

.footer__social--link:hover,
.footer__social--link:focus {
  background: var(--accent-color);
  transition: var(--main-transition);
}

.footer__signature {
  margin-left: 93px;
}

.footer__signature--field {
  display: flex;
  align-items: center;
}

.footer__signature--email {
  display: block;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 0 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--background-color);
}

.footer__button {
  position: relative;
  padding: 0 62px 0 29px;
  margin: 0;
}

.footer__icon--send {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  fill: #FFFFFF;
}