.customer {
    padding-top: 60px;
    padding-bottom: 60px;

    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__company {
        display: flex;
        flex-wrap: wrap;
        margin-right: -30px;
    } 

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 210px;
        height: 92px;
        margin-top: 30px;
        margin-right: 30px;
        border: 1px solid $link-base-color;
        border-radius: 4px;
        fill: $link-base-color;
        transition: $main-transition;


        &:nth-child(2n) {
            margin-right: 0;
        }


        &:hover, &:focus {
            border: 1px solid $accent-color;
            fill: $accent-color;
            transition: $main-transition;
        }
    }
}