.feature {
    padding: 60px 0;

    &__description .list-style {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        padding: 25px 0;
        background-color: $background-color-light;
    }

    &__title {
        margin-top: 30px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.7;
        color: #757575;
        letter-spacing: 0.03em;
    }
}

