.feature {
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    &__description{
        @media screen and(min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
        @media screen and(min-width:1200px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__description .feature__item {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;

            @media screen and(min-width:768px){
                margin-top: 15px;
            }
        }
        @media screen and(min-width:768px){
            width: calc((100% - 2 * 30px) / 2);
            margin: 15px;
        }
        @media screen and(min-width:1200px) {
            width: 270px
        }
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        padding: 25px 0;
        background-color: $background-color-light;
    }

    &__title {
        margin-top: 30px;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.7;
        color: #757575;
        letter-spacing: 0.03em;
    }
}

