.page-footer__signature {
    margin-top: 60px;
}

.page-footer__signature-email {
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $background-color-dark;
}

.page-footer__button {
    position: relative;
    padding: 10px 62px 10px 29px;
    margin-top: 20px;
}

.page-footer__icon-send {
    position: absolute;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
    fill: $background-color-icon;
}