.page-footer__logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
  
  &--web {
    color: $accent-color;
  }
  
  &--studio {
    color: $hero-text-color;
  }
}