.page-footer__address {
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: $hero-text-color;
}
  
.page-footer__contact {
  margin-top: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
  .page-footer__contact-item {
    margin-top: 9px;
    list-style: none;
  }
  
  .page-footer__contact-link {
    text-decoration: none;
    color: $contact-text-footer;
    transition: $main-transition;
  
    &:hover,
    &:focus {
      color: $accent-color;
      transition: $main-transition;
    }
  }
}