.page-footer {
    text-align: center;

    &__logo {
    text-align: center;
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-decoration: none;

        &--web {
        color: $accent-color;
        }

        &--studio {
        color: $hero-text-color;
        }
    }
}