.page-footer__signature {
    margin-left: 93px;
  
    &-field {
        display: flex;
        align-items: center;
    }
  
    &-email {
        display: block;
        width: 358px;
        height: 50px;
        margin-right: 12px;
        padding: 15px 0 15px 16px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        background-color: $background-color;
    }
}
  
.page-footer__button {
    position: relative;
    padding: 0 62px 0 29px;
    margin: 0;
}
  
.page-footer__icon-send {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    fill: #FFFFFF;
}