.gallary {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  // invisible title
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  
  .filter__group {
    display: flex;
    justify-content: center;
  
  
    & > .filter__item {
      list-style: none;
      text-decoration: none;
    }
  }
  .filter__item {
  margin-right: 8px;
  
  
    &:last-child {
      margin-right: 0;
    }
  }

  .filter__button{
    display: flex;
    justify-content: center;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
    transition: $main-transition;
    
    &:hover,
    &:focus {
      color: $hero-text-color;
      background: $accent-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      transition: $main-transition;
    }
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .gallary__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .gallary__card {
    margin-bottom: 30px;  
    border: 1px solid #EEEEEE;
    box-sizing: border-box; 
    transition: $main-transition;
  
  
    &:nth-child(3n) {
      margin-right: 0;
    }  
  

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  
    &:hover,
    &:focus {
      background: #FFFFFF;
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: $main-transition;
    }
  }

  .gallary__link {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1);
  }