.gallary__list {
  margin-top: 46px;
  
}

.gallary__card {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__card:last-child {
    margin-bottom: 60px;
}

.gallary__card:hover, .gallary__card:focus {
  background: #FFFFFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallary__link {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1);

}

.gallary__thumb {
  position: relative;
  width: 450px;
  overflow: hidden;
}

.gallary__name {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background: #FFFFFF;
}

.gallary__project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.gallary__kind {
  margin-top: 4px;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

