.filter__group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

    @media (max-width: 246px){
        justify-content: center;
    }
}

.filter__item {
    margin-right: 8px;
    list-style: none;
    text-decoration: none;
}

.filter__item:last-child {
    margin-right: 0;
}
.filter__item:nth-last-child(-n + 2) {
    margin-top: 15px
}

@media (max-width: 399px) {
    .filter__item:nth-last-child(-n + 3) {
        margin-top: 15px
    }
}
@media (max-width: 246px) {
    .filter__item:nth-last-child(-n + 4) {
        margin-top: 15px
    }
}

.filter__button {
    display: flex;
    justify-content: center;
    padding: 6px 22px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    border: none;
    background: #F5F4FA;
    border-radius: 4px;
    transition: $main-transition;
}

.filter__button:hover, .filter__button:focus {
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: $main-transition
}

