.gallary__thumb {
    position: relative;
    width: 370px;
    overflow: hidden;
    }
    
    .gallary__overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      transition: $main-transition;
      opacity: 0;
    
    
      .gallary__card:hover & {
        transform: translateY(0);
        opacity: 1;
      }
    }
    
    .gallary__text {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateY(-50%, -50%);
        top: 0;
        left: 0;
        margin: 0;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: #ffffff;
        transition: $main-transition;
        opacity: 0;
      
    
      .gallary__card:hover & {
        transform: translateY(0);
        opacity: 1;
      } 
    }
    
    .gallary__name {
      padding: 20px 24px 20px 24px;
      border-left: 1px solid #EEEEEE;
      border-right: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      background: #FFFFFF;
    }
    
    .gallary__project {
      font-weight: bold;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      color: $primary-text-color;
    }
    
    .gallary__kind {
      margin-top: 4px;
      font-size: 16px;
      line-height: 2;
      letter-spacing: 0.03em;
      color: $secondary-text-color;
    }