.page-header__logo {
    /* display: flex;
    align-items: center; */
    font-family: Raleway;
    font-weight: bold;
    letter-spacing: 0.03em;
    text-decoration: none;

    @media (min-width: 479px) {
        font-size: 24px;
        line-height: 1.16;   
    }

    @media (min-width: 1199px) {
        font-size: 26px;
        line-height: 1.16;   
    }

    &--web {
        color: #2196f3;
    }

    &--studio {
        color: #212121;
    }
}