.page-header {
    border-bottom: 1px solid #ECECEC;
    width: 100%;
}

/* @media (min-width: 768px) {
    .page-header {
        padding: 0;
    }
} */

.page-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px){
        justify-content: left;
    }

}

