.page-header__contact {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
  
  & .list-style{
     margin-right: 50px;
  }
   
  & .list-style:last-child {
    margin-right: 0;
  }
  
  &--mailto {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $secondary-text-color;
    transition: $main-transition;
  
  
      &:hover,
      &:focus {
        color: $accent-color;
        transition: $main-transition;
      }
  }
  
  &--call {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $secondary-text-color;
    transition: $main-transition;
  
      &:hover,
      &:focus {
        color: $accent-color;
        transition: $main-transition;
      }
  }
}
  
  .page-header__contact-icon {
    margin-right: 10px;
    fill: currentColor;
  }
