.page-header__menu-mob {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 796px;
    padding: 48px 0 48px 40px;
    background-color: $background-color-white;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    overflow-y: scroll;
    z-index: 99;

    &.is-open {
        transform: translateX(0);
    }
}

/* @media (min-width: 768px) {
   .page-header__menu-mob {
       display: none;
   } 
} */

.page-header__menu-mob-item {
    margin-top: 32px;
   
    &:first-child {
        margin-top: 0;
    }
}

.page-header__menu-mob-link {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $primary-text-color;
    text-decoration: none;
}


.page-header__menu-burger{
    border: none;
    background-color: #fff;
    z-index: 999;
}

@media (min-width: 768px) {
   .page-header__menu-burger {
       display: none;
   } 
}

.page-header__menu-burger .page-header__icon-cross {
    display: none;
}

.page-header__menu-burger.is-open .page-header__icon-cross {
    display: block;
}

.page-header__menu-burger.is-open .page-header__icon-menu {
    display: none;
}

.page-header__icon-cross {
    width: 18px;
    height: 18px; 
}

.current {
    color: $accent-color;
}


.page-header__menu-nav-contact {
    margin-top: 300px;
}

.page-header__contact-item {
    margin-top: 32px;  
}

.page-header__menu-contact--call {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: $accent-color;
    text-decoration: none;
}

.page-header__menu-contact--mailto {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $secondary-text-color;
}

.page-header__menu-social {
    margin-top: 64px;
}

.page-header__social-item {
    list-style: none; 
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

    &:last-child {
        margin-right: 0;
        padding-right: 0;
        border-right: none;
    }
}

.page-header__social-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
}

