header {

    border-bottom: 1px solid #ECECEC;
}

.page-header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-burger {
    fill: $primary-text-color;
}

.menu-burger:hover,
.menu-burger:focus {
    fill: $accent-color;
}
