.page-header__logo {
    display: flex;
    align-items: center;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
  
    &--web {
        color: $accent-color;
    }
    
    &--studio {
        color: $primary-text-color;
        margin-right: 93px;
    }
}
  