.hero__backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $main-transition;
    z-index: 2;
    position: fixed;
    overflow-y: scroll;
    z-index: 999;


    &.is-hidden {
        pointer-events: none;
        opacity: 0;
    }

    &.is-hidden .modal {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;
    padding: 40px;
    background: $background-color-white;
    box-shadow: $card-box-shadow;
    border-radius: 4px;
    transition: transform $main-transition;

    @media (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: $background-color-white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;
        transition: fill $main-transition;
    }

    &__title {
        display: block;
        font-weight: bold;
        text-align: center;
        margin-bottom: 12px;
        font-size: 20px;
        line-height: 1.15;
        letter-spacing: 0.03em;
        color: $primary-text-color;
    }

    &__form {
        width: 100%;
        margin-bottom: 30px;
    }

    &__form--field {
        position: relative;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
}

.modal__form--field:hover .modal__form--icon,
.modal__form--field:focus-within .modal__form--icon {
  fill: $accent-color;
}

.modal__form--field:focus-within .modal__form--input {
  border: 1px solid $accent-color;
}

.modal__form--label {
  display: inline-block;
  margin-bottom: 4px;
  margin-right: auto;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.modal__form--input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border $main-transition, outline $main-transition;
}

.modal__form--input:focus, .modal__form--input:hover {
  outline: none;
  border: 1px solid $accent-color;
}

.modal__form--icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  fill: $primary-text-color;
  transition: fill $main-transition;
}

.modal__form--comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: $primary-text-color;
  transition: $main-transition;
}

.modal__form--comment:hover, .modal__form--comment:focus {
  outline: none;
  border: 1px solid $accent-color;
}

.modal__form--comment::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form--conditions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  cursor: pointer;
}

.modal__conditions--link {
  color: $accent-color;
  font-family: inherit;
}

.modal__checkbox {
  appearance: none;
}

.modal__checkbox--icon {
  display: flex;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid $primary-text-color;
  border-radius: 2px;
  background-color: $background-color-white;
}

.modal__checkbox:checked + .modal__checkbox--icon {
  background-color: $accent-color;
  border-color: $accent-color;
}

.modal__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal__icon--cross {
  width: 11px;
  height: 11px;
}

.modal__icon--cross:hover, .modal__icon--cross:focus {
  fill: $accent-color;
}