.team{
    background: #F5F4FA;
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
    
  &__item {
    margin-right: 30px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  
    &:last-child {
      margin-right: 0;
    }
  }
  
  &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
 
  &__block{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  &__description {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  &__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  &__position{
    margin-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
  
  &__icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  &__icon {
    list-style: none;
  }
  
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    border-radius: 50%;
    fill: #AFB1B8;
    background-color: $hero-text-color;
    transition: $main-transition;
    
    &:last-child{
      margin-right: 0;
    }
  
    &:hover,
    &:focus {
      background-color: $accent-color;
      fill: $hero-text-color;
    }
  }
}