.team {
    background: $background-color-light;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__block {
        margin-top: 30px;

        @media (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 0;
        }
        @media (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
        }
    }

    &__item {
        margin-top: 30px;
        background-color: $background-color-white;
        box-shadow: $card-box-shadow;
        border-radius: $card-border-radius;

        @media (min-width: 768px) {
            width: calc((100% - 2 * 30px) / 2);
        }
        @media (min-width: 1200px) {
            width: calc((100% - 4 * 30px) / 4);
            margin-top: 0;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;

        @media (min-width: 1200px) {
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
        }
    }

    &__description {
        padding-top: 30px;
        padding-bottom: 24px;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }

    &__position {
        margin-top: 10px;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: $secondary-text-color;
    }

    &__icons {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }

    &__icon {
        list-style: none;
        margin-right: 10px;
    
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        margin-right: 10px;
        border-radius: 50%;
        fill: $link-base-color;
        background-color: $background-color-icon;
        transition: $main-transition;

        &:last-child {
            margin-right: 0;
        }

        &:hover, &:focus {
            background-color: $accent-color;
            fill: $background-color-icon;
        }
    }
}