.work {
    @media (max-width: 1199px) {
        display: none;
    }

    padding-bottom: 94px;
   
  &__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  &__description {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  &__list {
    position: relative;
  }
  
  &__thumb {
      position: absolute;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: rgba(47, 48, 58, 0.8);
  }
  
  &__text{
      margin: 0;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $hero-text-color;
  }
}