body {
    font-family: "roboto", sans-serif;
    color: $primary-text-color;
    background-color: #ffffff;
}
  
* {
    margin: 0;
    padding: 0;
}
  
h1
h2
h3
h4 
h5
h6
p 
ul {
    text-decoration: none;
}
  
.list-style {
    list-style-type: none;
}
  
.container {
    width: 480px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
  
