body {
    font-family: "roboto", sans-serif;
    color: $primary-text-color;
    background-color: #ffffff;
}
  
* {
    margin: 0;
    padding: 0;
}
  
h1
h2
h3
h4 
h5
h6
p 
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
.list-style {
    list-style-type: none;
}
  
.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

    @media screen and (min-width: 479px) {
        width: 480px;
    } 

    @media screen and (min-width: 677px) {
        width: 678px;
    }

    @media screen and (min-width: 1199px) {
        width: 1200px;
    }

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
  
