$primary-text-color: #212121;
$secondary-text-color: #757575;
$hero-text-color: #ffffff;
$contact-text-footer: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$accent-color-push: #188CE8;
$background-color-white: #fff;
// $background-color-light: ;
$background-color-dark: #2F303A;
$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);