$primary-text-color: #212121;
$secondary-text-color: #757575;
$hero-text-color: #ffffff;
$contact-text-footer: rgba(255, 255, 255, 0.6);
$accent-color: #2196f3;
$accent-color-push: #188CE8;
$background-color-white: #ffffff;
$background-color-light: #F5F4FA;
$background-color-dark: #2F303A;
$background-color-icon: #ffffff;
$link-base-color: #AFB1B8;
$card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$card-border-radius: 0px 0px 4px 4px;
$main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);